*{
    margin:0;
    padding: 0;
}
body{
    background-color: #9C8BD9;
    font-family: Poppins;
    padding-bottom: 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #251659;
    color: white;
    font-family: Poppins;
    text-align: center;
    height: 60px;
}
footer{
    background-color: #251659;
    font-family: Poppins;
    text-align: center;
    color: white;
    position:absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
/* LANDING PAGE*/
#divLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.btnLanding{
    font-family: Poppins;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1PX solid #251659 ;
    background-color:  #251659 ;
    color: white;

}
.btnLanding:hover{
    border: 1px solid #7559D9 ;
    background-color:  #7559D9 ;
}

#bodyLanding a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    background-color:  #251659;
    font-family: Poppins;
}
#bodyLanding a:hover{
    background-color:  #7559D9;
}
/* LOGIN.PHP */
.autocenter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}
#divLogin h1{
    margin-bottom: 10px;
    color:  #251659;
    font-family: Poppins;
}
#divLogin label{ 
    color:  #251659;
    font-family: Poppins;
}
#divLogin a{ 
    color:  #251659;
    font-family: Poppins; 
}
#divLogin a:hover{ 
    color:  #7559D9;
}
#divLogin{
    height: 300px;
    width: 400px;
    border-radius: 35px;
    border: 2px solid #251659;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btnLogin{
    font-family: Poppins;
    padding: 8px;
    border-radius: 5px;
    border: 1PX solid #251659 ;
    background-color:  #251659 ;
    color: white;

}
#btnLogin:hover{
    border: 1px solid #7559D9 ;
    background-color:  #7559D9 ;
}

/* DASHBOARD.PHP */

#Dashprofe,#DashAdmin{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#divDash{
    background-color: #9C8BD9;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.BtnDash{
    margin-top: 170px;
    transition: all 0.6s ease-in-out;
    font-family: Poppins;
    margin-left: 55px;
    padding: 8px;
    border-radius: 15px;
    border: 1PX solid #251659 ;
    background-color:  #251659 ;
    color: white;
    font-size: 50px;
    width: 380px;
    height: 120px;
}
.BtnDash:hover{
    width: 450px;
    height: 200px;
    border: 1px solid #7559D9 ;
    background-color:  #7559D9 ;
    cursor: pointer;
}
/* CSS MESSAGES */
#mensajes{
    position: absolute;
    top: 0;
}

.error ul{
    display: flex;
    flex-direction: row;
}
.error{
    height: auto;
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 76, 76);
    border-radius: 10px;
    border: 1px solid rgb(131, 21, 21);
    color: rgb(131, 21, 21);
    animation: cascade 1.2s ease-in-out forwards;
}
.error ul li{
    list-style: none;
}

.warning ul{
    display: flex;
    flex-direction: row;
}
.warning{
    height: auto;
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: #F5EB32;
    border-radius: 10px;
    border: 1px solid rgb(130, 130, 23);
    color: rgb(130, 130, 23);
    animation: cascade 1.2s ease-in-out forwards;
}
.warning ul li{
    list-style: none;
}


.info ul{
    display: flex;
    flex-direction: row;
}
.info{
    height: auto;
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: rgb(81, 104, 237) ;
    border-radius: 10px;
    border: 1px solid blue;
    color: blue;
    animation: cascade 1.2s ease-in-out forwards;
}
.info ul li{
    list-style: none;
}

.succes ul{
    display: flex;
    flex-direction: row;
}
.succes{
    height: auto;
    width: auto;
    padding: 20px;
    margin: 10px;
    background-color: #51f36a;
    border-radius: 10px;
    border: 1px solid green;
    color: green;
    animation: cascade 1.2s ease-in-out forwards;
}
.succes ul li{
    list-style: none;
}

.closebtn {
    margin-left: 10px;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

@keyframes cascade {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/* POLL-BAR */
.panel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnPanelAdmin{
    border-radius: 10px;
    background-color: white;
    padding: 40px 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.btnPanelAdmin.active{
    background-color: #5c2d56;
    color: white;
}

.btnPanelAdmin:hover{
    background-color: rgba(3, 2, 13, 0.6);
    color: white;
    cursor: pointer;
}


/* DYNAMIC CONTAINER */
.pollContent{
    margin: auto;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 1);
    border: 1px solid #61525f;
    background-color: #BF9FBA;
    border-radius: 10px;
    padding: 15px;
    width: 60%;
}

/* CREATE-QUESTION */
.pollContent .formQuestion{
   display: flex;
   flex-direction: column;
}

.pollContent .formQuestion label{
    text-align: center;
}

/* Selector para todos los elementos siguientes a un label (los inputs) */
.pollContent .formQuestion label + *{
    box-sizing:content-box;
    background-color:#251659;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    align-self: center;
    width: 60%;
    text-align: center;
    margin-bottom: 15px;
}

.pollContent .formQuestion .containerSingleRadioButton{
    align-self: center;
    box-sizing:content-box;
    width: 60%;
}

.pollContent .formQuestion .containerSingleRadioButton input{
    margin-left: 40%; 

}

.pollContent .formQuestion .containerSingleRadioButton label{
    text-align: left;
    width: 50%; 
}

.pollContent .formQuestion .containerSingleRadioButtonWithOptions{
    align-self: center;
}
.containerSingleRadioButtonWithOptions .radioOption{
    padding-top: 2px;
}
.containerSingleRadioButtonWithOptions .textOption{
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #251659;
    color: white;
    padding: 5px 0px;
}

.pollContent .formQuestion .addOrDeleteOptionButtons{
    align-self: center;
}

.pollContent .formQuestion .addOrDeleteOptionButtons *{
    background-color: transparent;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.pollContent .formQuestion .addOrDeleteOptionButtons *:hover{
    cursor: pointer;
    transform: scale(1.4);
}

.pollContent .formQuestion .addOrDeleteOptionButtons .btnAddOption{
    color: green;
}

.pollContent .formQuestion .addOrDeleteOptionButtons .btnAddOption:hover{
    color: rgb(0, 224, 0);
}

.pollContent .formQuestion .containerSingleRadioButtonWithOptions .btnRemoveOption{
    background-color: transparent;
    padding: 5px;
    font-weight: bold;
    border: none;
    color: red;
}

.pollContent .formQuestion .containerSingleRadioButtonWithOptions .btnRemoveOption:hover{
    cursor: pointer;
    transform: scale(1.4);
    color: rgb(255, 120, 78);

}

.pollContent .formQuestion textarea{
    resize: none;
    box-sizing: content-box;
    border-radius: 12px;
    width: 60%;
    padding: 10px 30px;
    height: 100px;
    align-self: center;
}

.pollContent .containerConfirmButtons{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.pollContent .containerConfirmButtons .btnConfirm{
    width: 20%;
    padding: 5px 0px;
    border-radius: 5px;
}   

.pollContent .containerConfirmButtons .btnConfirm:hover{
    border-color: black;
    background-color: #9C8BD9;
    color: #251659;
    cursor: pointer;
}

.pollContent .containerConfirmButtons .btnAcceptar{
    background-color: green;
    border-color: rgb(0, 46, 0);
}   

.pollContent .containerConfirmButtons .btnCancelar{
    background-color: red;
    border-color: darkred;
}

/* CREATE-POLL */
.pollContent .formPoll{
    display: flex;
    flex-direction: column;
}

.pollContent .formPoll label{
    text-align: center;
}

/* Selector para todos los elementos siguientes a un label (los inputs) */
.pollContent .formPoll .inputTitle{
    box-sizing:content-box;
    background-color:#251659;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    align-self: center;
    width: 60%;
    text-align: center;
    margin-bottom: 15px;
}

.pollContent .formPoll .containerDates{
    box-sizing:content-box;
    padding: 10px 0px;
    align-self: center;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.pollContent .formPoll .containerTeachers, .containerQuestions{
    box-sizing:content-box;
    padding: 10px 30px;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pollContent .formPoll .containerTeachers .containerSingleTeacherSelector{
    width: 40%;
}

.pollContent .formPoll .containerTeachers .selectorTeachers, .selectorQuestions{
    background-color: #9C8BD9;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 1);
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.pollContent .formPoll .singleSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pollContent .formPoll .singleSelector button{
    border: none;
    background-color: transparent;
}

.pollContent .formPoll .singleSelector button:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.pollContent .formPoll .singleSelector button.btnAddTeacher, button.btnAddQuestion{
    color: green;
}
.pollContent .formPoll  .singleSelector button.btnAddTeacher:hover, button.btnAddQuestion:hover{
    color: rgb(0, 224, 0);
}

.pollContent .formPoll .singleSelector button.btnRemoveTeacher,  button.btnRemoveQuestion{
    color: red;
}
.pollContent .formPoll .singleSelector button.btnRemoveTeacher:hover, button.btnRemoveQuestion:hover{
    color: rgb(255, 120, 78);
}

.pollContent .formPoll .divSingleDate{
    display: flex;
    flex-direction: column;
}

/* VIEW QUESION/POLL */
.pollContent table.containerPolls{
    width: 100%;
}

.pollContent .textComponent{
    width: 80%;
    text-align: center;
}
.pollContent .editComponent{
    width: 20%;
}

/* Títols de la taula de llistat */
.pollContent th.textComponent p{
    border-bottom: #03020D solid;
    margin: 0px 15px;
}
.pollContent th.editComponent p{
    border-bottom: #03020D solid;
    margin: 0px 5px;
}

/* Separador entre files(tr) */
.pollContent .containerPolls tr{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.pollContent .containerPolls td.editComponent{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.pollContent .containerPolls td.editComponent i{
    color: rgb(194, 32, 32);
    cursor: pointer;
}

.pollContent .containerPolls td.editComponent :first-child{
    color: #251659;
}