body{
    background-color: #9C8BD9;
}
div{
    display: flex;
    justify-content: center;
}
nav{
    margin-top: 10%;
    display: inline-block;
    
    margin-left: 20px;
}

button{
    font-family: Poppins;
    border-radius: 10%;
    text-align: center;
    background-color: white;
    padding: 40px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: 100%;
}

button:hover{
    background-color: rgba(3, 2, 13, 0.5);
    color: white;
}


